# Python virtual environments
venv/
.venv/
env/

# Python cache files
__pycache__/
*.py[cod]

# Streamlit settings & credentials
.streamlit/

# OS / Editor temporary files
.DS_Store
.vscode/
.idea/